<%- include('layouts/navbar') %>

<div class = "container"></div>

<h2>Selamat datang di database Mahasiswa!</h2>

<h4>Langsung tambahkan data mahasiswa dengan tombol dibawah ini</h4>
<a class="btn btn-primary" href="add" role="button">Add a Student</a>